body {
	font-size: 16px;
}

nav {
	height: 100px;
	margin-bottom: 30px;
}
h1 {
	text-align: left;
	color: solid black 10px;

}

h2 {
	margin-top: 2px;
	text-align: center;
	color: solid black 100px;
}
h3 {
	text-align: center;
	color: solid black 100px;
}
#main-content {
	background-color: #bdb76b;
	margin: 0 auto 0;
    padding: 20px 20px 0 20px;
}

#header-nav {
	background-color: #bdb76b;
}